<!DOCTYPE html>
<html>
<head>
  <header>         
    <div class="logo">
    <a href="/"> 
    <img src="" width="70" />
    </a>
  </div>
  <div class="menu">
    <ul>
      <li><a href="/ezio">Эцио</a></li>
      <li><a href="/yusuf">Юсуф</a></li>
      <li><a href="/mario">Марио</a></li>
      <li><a href="/sofia">София</a></li>
      <li><a href="/desmond">Дезмонд</a></li>
    </ul>
  </div>
  <div class="tel"><a class="rmenu" href="/">Exit</a>
  </div>
</header>
</header>
<title>

</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script> </head>
</head>
<body>
    <%- body %>
</body>
</html>
